<h1>Salut mon gueu!</h1>
<h2>Alors là, c'est le truc relou, je suis censé te saluer par ton prénom.</h2>
<p>...</p>
<h1>Non d'un Gargle blaster pan-galactique;</h1>
<h1>Tu viens de modifier une URL en y ajoutant :   " <%= @user_url %> "  ...   Quel Hackeur tu es!</h1>
<p>J'aime bien Rick; il rote.</p>
<p>...</p>
<p>Rick il rote..</p>
<p>T'arriverais à le répéter 50 fois le plus vie possible?</p>