<h1>Ici, t'es dans la section Contacts!</h1>
<h2>Pour nous contacter tellement tu vas trouver ce site de potin passionnant.</h2>
<h3>Ah et, on est al':</h3>
<p>contacts#contacts_section</p>
<p>Find me in app/views/static_pages/contacts_section.html.erb</p>