<h1>Ici, t'es dans la section Team!</h1>
<h2>On y met quoi? Nos blazes?? J'en sais rien.</h2>
<h3>Ah et, on est al':</h3>
<p>team#team_section</p>
<p>Find me in app/views/static_pages/team_section.html.erb</p>
